server:
  port: 8080

spring:
  datasource:
    username: root
    password: root
    url: jdbc:mysql://localhost:3306/search_engine?useSSL=false&requireSSL=false&allowPublicKeyRetrieval=true
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: create
      generate-ddl: true
    show-sql: true

# example values

indexing-settings:
  sites:
    - url: https://nikoartgallery.com/
      name: Никола.ру
    - url: https://dombulgakova.ru/
      name: Дом Булгакова
    - url: https://playback.ru/
      name: PlayBack.Ru
