<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">

    <appenders>
        <File name="MyFile" fileName="logs/infoStation.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker = "INFO_STATION" />
            </Filters>
        </File>

        <File name="MyFile2" fileName="logs/wrongStation.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker = "WRONG_STATION" />
            </Filters>
        </File>

        <File name="MyFile3" fileName="logs/error.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker = "ERROR" />

            </Filters>
        </File>
    </appenders>

    <loggers>
        <root level="debug">
            <appender-ref ref="MyFile" level="info"/>
            <appender-ref ref="MyFile2" level="info"/>
            <appender-ref ref="MyFile3" level="error"/>
        </root>
    </loggers>
</configuration>
