<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">

    <appenders>
        <File name="MyFile" fileName="logs/infoParsing.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker = "INFO_PARSING" />
            </Filters>
        </File>

        <File name="MyFile2" fileName="logs/errorsParsing.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker = "ERROR_PARSING" />
            </Filters>
        </File>
    </appenders>

    <loggers>
        <root level="debug">
            <appender-ref ref="MyFile" level="info"/>
            <appender-ref ref="MyFile2" level="error"/>
        </root>
    </loggers>
</configuration>
